name: CI
on:
    push:
        branches:
            - main
        paths-ignore:
            - .github/**

jobs:
    build:
        runs-on: macOS-latest
        steps:
            - uses: actions/checkout@v1

            - name: Validate Pod
              run: |
                  pod lib lint
                  pod spec lint

            - name: Publish to CocoaPod register
              env:
                  COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
              run: |
                  pod trunk push LyraZoho.podspec
